@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?es401t');
  src:  url('fonts/icomoon.eot?es401t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?es401t') format('truetype'),
    url('fonts/icomoon.woff?es401t') format('woff'),
    url('fonts/icomoon.svg?es401t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dot:before {
  content: "\e900";
}
.icon-Inicio:before {
  content: "\e901";
}
.icon-Contacto:before {
  content: "\e945";
}
.icon-Nosotros:before {
  content: "\e972";
}
.icon-Servicios:before {
  content: "\e998";
}
.icon-Estados-Financieros:before {
  content: "\e99b";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-Sucursales:before {
  content: "\e9ca";
}
.icon-iniciar:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-anterior:before {
  content: "\ea18";
}
.icon-siguiente:before {
  content: "\ea19";
}

